In [5]:
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split, StratifiedShuffleSplit,KFold
from sklearn.metrics import accuracy_score,fbeta_score,f1_score
import numpy as np

In [6]:
column_names = [
    "age", # continuous
    "workclass", # Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked
    "fnlwgt", # continuous 
    "education", # Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool
    "education-num", # continuous. 
    "marital-status", # Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
    "occupation", # Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
    "relationship", # Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried 
    "race", # White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black, 
    "sex", # Female, Male, 
    "capital-gain", # continuous, 
    "capital-loss", # continuous, 
    "hours-per-week", # continuous, 
    "native-country", # United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands 
    "target" # >50K, <=50K
]
df = pd.read_csv(filepath_or_buffer="adult.data.txt", sep=',', names=column_names, skipinitialspace=True)

In [7]:
print(df.shape)
print(100 * (df["target"].value_counts() / len(df["target"])))
print("")
print("missing values")
for col in column_names:
    if df[col].dtype == object:
        missing_count = (df[col] == "?").sum()
        print(f"{col}:{missing_count}")

(32561, 15)
<=50K    75.919044
>50K     24.080956
Name: target, dtype: float64

missing values
workclass:1836
education:0
marital-status:0
occupation:1843
relationship:0
race:0
sex:0
native-country:583
target:0

In [9]:
df.shape

(32561, 15)

In [22]:
df["age_bin"] = pd.cut(df['age'], [0, 20,29,39,49,59,200], labels=["below_20", "20s", "30s", "40s","50s","above_60"])

In [23]:
df[["age", "age_bin"]]

       age   age_bin
0       39       30s
1       50       50s
2       38       30s
3       53       50s
4       28       20s
5       37       30s
6       49       40s
7       52       50s
8       31       30s
9       42       40s
10      37       30s
11      30       30s
12      23       20s
13      32       30s
14      40       40s
15      34       30s
16      25       20s
17      32       30s
18      38       30s
19      43       40s
20      40       40s
21      54       50s
22      35       30s
23      43       40s
24      59       50s
25      56       50s
26      19  below_20
27      54       50s
28      39       30s
29      49       40s
...    ...       ...
32531   30       30s
32532   34       30s
32533   54       50s
32534   37       30s
32535   22       20s
32536   34       30s
32537   30       30s
32538   38       30s
32539   71  above_60
32540   45       40s
32541   41       40s
32542   72  above_60
32543   45       40s
32544   31       30s
32545   39       30s
32546   37       30s
32547   43       40s
32548   65  above_60
32549   43       40s
32550   43       40s
32551   32       30s
32552   43       40s
32553   32       30s
32554   53       50s
32555   22       20s
32556   27       20s
32557   40       40s
32558   58       50s
32559   22       20s
32560   52       50s

[32561 rows x 2 columns]

In [26]:
df["age_bin"].value_counts(normalize=True)

30s         0.264519
20s         0.224225
40s         0.220356
50s         0.135684
above_60    0.081201
below_20    0.074015
Name: age_bin, dtype: float64

In [35]:
df[["age_bin", "target"]].groupby("age_bin").size()

age_bin
below_20    2410
20s         7301
30s         8613
40s         7175
50s         4418
above_60    2644
dtype: int64

In [82]:
df["target"] = df["target"].str.strip()
less_50k = df[df["target"] == "<=50K"]
more_50k = df[df["target"] == '>50K']

In [83]:
df[df["target"].str.strip() == ">50K"]

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,target,age_test,age_bin
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K,50s,50s
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K,30s,30s
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K,40s,40s
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K,30s,30s
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K,30s,30s
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K,40s,40s
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K,40s,40s
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K,40s,40s
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K,50s,50s
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K,50s,50s
38,31,Private,84154,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,38,?,>50K,30s,30s
45,57,Federal-gov,337895,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Black,Male,0,0,40,United-States,>50K,50s,50s
52,47,Private,51835,Prof-school,15,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,1902,60,Honduras,>50K,40s,40s
53,50,Federal-gov,251585,Bachelors,13,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,55,United-States,>50K,50s,50s
55,43,Private,237993,Some-college,10,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K,40s,40s
63,42,Private,116632,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,United-States,>50K,40s,40s
67,53,Private,169846,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,40,United-States,>50K,50s,50s
68,49,Self-emp-inc,191681,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K,40s,40s
72,29,Self-emp-not-inc,162298,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,70,United-States,>50K,20s,20s
84,44,Private,343591,HS-grad,9,Divorced,Craft-repair,Not-in-family,White,Female,14344,0,40,United-States,>50K,40s,40s
86,49,Local-gov,268234,HS-grad,9,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K,40s,40s
89,43,Federal-gov,410867,Doctorate,16,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,50,United-States,>50K,40s,40s
94,34,Local-gov,226296,Bachelors,13,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K,30s,30s
96,48,Self-emp-not-inc,191277,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1902,60,United-States,>50K,40s,40s
97,37,Private,202683,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,48,United-States,>50K,30s,30s
100,76,Private,124191,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K,above_60,above_60
101,44,Private,198282,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,60,United-States,>50K,40s,40s
105,32,Self-emp-inc,317660,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7688,0,40,United-States,>50K,30s,30s
111,38,Private,65324,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K,30s,30s
112,56,Self-emp-not-inc,335605,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,1887,50,Canada,>50K,50s,50s
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32436,37,Private,40955,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K,30s,30s
32438,66,Self-emp-not-inc,102686,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,20,United-States,>50K,above_60,above_60
32440,30,Self-emp-not-inc,176185,Some-college,10,Married-spouse-absent,Craft-repair,Own-child,White,Male,0,0,60,United-States,>50K,30s,30s
32441,53,Private,304504,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,1887,45,United-States,>50K,50s,50s
32449,44,Self-emp-inc,71556,Masters,14,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,?,>50K,40s,40s
32453,46,Private,42251,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,>50K,40s,40s
32455,36,Self-emp-not-inc,109133,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,>50K,30s,30s
32457,33,Private,139057,Masters,14,Married-civ-spouse,Tech-support,Husband,Asian-Pac-Islander,Male,0,0,50,United-States,>50K,30s,30s
32458,36,Private,237943,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,1977,45,United-States,>50K,30s,30s
32462,48,Self-emp-inc,185041,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,50,United-States,>50K,40s,40s
32464,45,Self-emp-inc,173664,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K,40s,40s
32466,37,Private,121521,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,45,United-States,>50K,30s,30s
32474,36,Private,186819,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,52,United-States,>50K,30s,30s
32480,41,Private,201495,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K,40s,40s
32504,50,Private,208630,Masters,14,Divorced,Sales,Not-in-family,White,Female,0,0,50,United-States,>50K,50s,50s
32506,38,Private,32916,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,55,United-States,>50K,30s,30s
32510,39,Private,107302,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,45,?,>50K,30s,30s
32513,46,Private,42972,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,22,United-States,>50K,40s,40s
32518,57,Local-gov,110417,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,99999,0,40,United-States,>50K,50s,50s
32519,46,Private,364548,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,48,United-States,>50K,40s,40s
32530,35,?,320084,Bachelors,13,Married-civ-spouse,?,Wife,White,Female,0,0,55,United-States,>50K,30s,30s
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K,30s,30s
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K,50s,50s
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K,30s,30s
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K,30s,30s
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K,above_60,above_60
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K,30s,30s
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K,50s,50s
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,40s,40s
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,50s,50s

In [89]:
less_50k["age_bin"].value_counts(normalize=True)

20s         0.274757
30s         0.255016
40s         0.182565
50s         0.109668
below_20    0.097411
above_60    0.080583
Name: age_bin, dtype: float64

In [88]:
more_50k["age_bin"].value_counts(normalize=True)

40s         0.339498
30s         0.294478
50s         0.217702
above_60    0.083153
20s         0.064915
below_20    0.000255
Name: age_bin, dtype: float64

In [91]:
less_50k["marital-status"].value_counts(normalize=True)

Never-married            0.412298
Married-civ-spouse       0.335113
Divorced                 0.161003
Separated                0.038794
Widowed                  0.036731
Married-spouse-absent    0.015534
Married-AF-spouse        0.000526
Name: marital-status, dtype: float64

In [90]:
more_50k["marital-status"].value_counts(normalize=True)

Married-civ-spouse       0.853463
Never-married            0.062620
Divorced                 0.059049
Widowed                  0.010840
Separated                0.008417
Married-spouse-absent    0.004336
Married-AF-spouse        0.001275
Name: marital-status, dtype: float64

In [92]:
from sklearn.tree import DecisionTreeClassifier

In [95]:
df_dummies = pd.get_dummies(df.drop('target', 1))
df_x = df_dummies.copy().values
df_y = df["target"].copy().values
clf = DecisionTreeClassifier()
X_train, X_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.3,random_state=0)
clf.fit(X_train, y_train)
feature_importances = sorted(list(zip(df_dummies.columns.values, clf.feature_importances_)), key=lambda tup: tup[1], reverse=True)
print("feature importance")
for fi in feature_importances[:10]:
    print(fi)
print("")

feature importance
('marital-status_Married-civ-spouse', 0.19911998453564506)
('fnlwgt', 0.17540771920564502)
('education-num', 0.11263610239776166)
('capital-gain', 0.10299987665629544)
('age', 0.10038091291021688)
('hours-per-week', 0.06276243338810401)
('capital-loss', 0.03781330602550995)
('workclass_Private', 0.010661527235736209)
('workclass_Self-emp-not-inc', 0.0093041894218122)
('occupation_Exec-managerial', 0.009299318175953612)